body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px 120px;
}

h1{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

h2{
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 500;
}

.input-section{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.input{
    display: flex;
    width: 240px;
    justify-content: space-between;
}

input{
    width: 150px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #797878;
}

label{
    display: flex;
    align-items: end;
}

button{
    color: white;
    width: 80px;
    background-color: rgb(6, 222, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

thead {
    background-color: #007bff; /* Light blue background for headers */
    color: white;
    font-weight: bold;
}

thead th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternating row colors */
}

tbody tr:hover {
    background-color: #d1ecf1; /* Highlight row on hover */
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tfoot {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

tfoot td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

tfoot td#total-amount {
    font-size: 18px;
    font-weight: bold;
    color: #d70217; 
}

.delete-btn {
    color: white;
    background-color: #dc3545; /* Red for delete button */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

